body {
  font-size: 20px;
}

.container {
  margin: auto;
  width: 1000px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li a {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 8px 0;
  color: #333;
  text-decoration: none;
  border-radius: 8px 8px 0 0;
}

.menu li a.active {
  background: #333;
  color: #fff;
}

.menu li a:not(.active):hover {
  opacity: 0.5;
  transition: opacity 0.4s;
}

.content.active {
  background: #333;
  color: #fff;
  min-height: 150px;
  padding: 12px;
  display: block;
  height: 400px;
  border-radius: 0 8px 8px 8px;
}

.content {
  display: none;
}
.title {
  font-size: 50px;
}

.save {
  font-size: 50px;
}

.file {
  border: solid 3px #000;
  padding: 10px 8px;
  width: 300px;
  height: 100px;
  background: #999;
}

.option select {
  width: 200px;
  font-size: 30px;
  margin-top: 16px;
  float: left;
  margin-left: 2px;
}

.box1 {
  padding-left: 10%;
  padding-top: 20px;
  float: left;
}

.filechange {
  font-size: 50px;
}

.box2 {
  float: left;
  padding-top: 20px;
  padding-left: 70px;
}

textarea {
  resize: none;
  width: 300px;
  height: 150px;
  margin-left: 110px;
  margin-top: 70px;
}

.image {
  float: left;
  padding: 150px;
  margin-top: 30px;
  margin-left: 85px;
  font-weight: bold;
  border: solid 3px #000;
  height: auto;
  width: auto;
}

.hyou {
  padding-top: 20px;
}